.about,
.contact {
  flex: 1;
}

.about { 
  background-color:  #9f726f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.about:hover {
  background-color:  #815d5a;
}

.link a {
  font-style: italic;
  color: #ffb6c1;
  text-decoration: none;
}

.link a:hover {
  color: #ffffff;
} 
